/**
 * copy from http://elemefe.github.io/mint-ui/#/popup
 * open F12, Ctrl+P, input:
 * webpack:///webpack:///example/demo.vue
 */

.page-demo {
  padding-bottom: 50px;
}
.page-demo .indexicon {
  font-size: 22px;
  color: #26a2ff;
  display: inline-block;
  width: 30px;
  vertical-align: middle
}
.page-demo .indexicon.icon-swipe {
  font-size: 26px;
}
.page-demo .indexicon.icon-checklist {
  font-size: 18px;
}
.page-title {
  font-size: 20px;
  margin: 20px auto;
  text-align: center;
  display: block;
  line-height: 1;
}
.page-part {
  margin-bottom: 15px;
}
