/**
 * copy from http://elemefe.github.io/mint-ui/#/popup
 * open F12, Ctrl+P, input:
 * webpack:///webpack:///example/pages/popup.vue
 */

.page-popup .mint-popup-1 {
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}
.page-popup .mint-popup-1 h1 {
    font-size: 20px;
    color: #26a2ff;
}
.page-popup .mint-popup-1 p {
    margin-bottom: 10px;
}
.page-popup .mint-popup-1::before {
    display: inline-block;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-bottom-color: #fff;
    content: '';
    position: absolute;
    top: -20px;
    right: 50px;
}
.page-popup .mint-popup-2 {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgba(0,0,0,.7);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.page-popup .mint-popup-2 p {
    line-height: 50px;
    color: #fff;
}
.page-popup .mint-popup-3 {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.page-popup .mint-popup-3 .mint-button {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.page-popup .mint-popup-4 {
    width: 100%;
}
.page-popup .mint-popup-4 .picker-slot-wrapper, .page-popup .mint-popup-4 .picker-item {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.page-popup .mint-popup-5 {
    width: 100%;
}
.page-popup .mint-popup-5 .picker-slot-wrapper, .page-popup .mint-popup-5 .picker-item {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.page-popup-wrapper {
    padding: 0 20px;
    top: 50%;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.page-popup-wrapper button:not(:last-child) {
    margin-bottom: 20px;
}



// WEBPACK FOOTER //
// webpack:///example/pages/popup.vue
